<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OrderShop v2</title>
    <script src="{{ url_for('static', filename='socket.io-2.2.0.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='jquery-3.4.1.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='json-viewer-1.4.0/jquery.json-viewer.js') }}" type="text/javascript" charset="utf-8"></script>
    <link href="{{ url_for('static', filename='json-viewer-1.4.0/jquery.json-viewer.css') }}" type="text/css" rel="stylesheet">
    <style>
      .container { width: 100%; }
      #left { float: left; width: 50% }
      #right { float: right; width: 50% }
    </style>
    <script>
      socket = io();
      window.addEventListener("beforeunload", function(event) {
        console.log("BEFOREUNLOAD event fired");
      });
    </script>
  </head>
  <body>
    <h1>OrderShop v2</h1>
    <section class="container">
      <div id="left">
        <h2>Events</h2>
        <pre id="events"></pre>
      </div>
      <div id="right">
        <h2>Report</h2>
        <pre id="report"></pre>
        <script type="text/javascript" charset="utf-8">
          $.ajax({
            'url': '/report'
          }).done(function(data) {
            $('#report').jsonViewer(data.result);
          });
        </script>
      </div>
      <script type="text/javascript" charset="utf-8">
        socket.on('connect', function() {
          console.log('connected to WS server');
        });
        var events = [];
        socket.on('entity_event', function(data) {
          event = JSON.parse(data);
          event.data  = JSON.parse(event.data);
          events.unshift(event);
          $('#events').jsonViewer(events);
        });
        socket.on('report_update', function(data) {
          report = JSON.parse(data);
          $('#report').jsonViewer(report);
        });
      </script>
    </section>
  </body>
</html>
